
<div class="container ">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-4">
                    <p class="h4" [translate]="'category.allarticles'">Tüm Yazılarım</p>
                </div>
                <div class="col-md-3 text-right mb-2">
                    <select class="custom-select" (change)="ngOnChange($event.target.value)" [(ngModel)]="selectedPageSize">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="80">80</option>
                        <option value="90">90</option>
                        <option value="100">100</option>
                      </select>
                </div>
                <div class="col-md-4 text-right">
                    <select class="custom-select" (change)="ngOnChangeOrderBy($event.target.value)">
                        <option value="post_time-desc" selected [translate]="'category.timedesc'">Yeniden Eskiye Göre Sırala</option>
                        <option value="post_time-asc" [translate]="'category.timeasc'">Eskiden Yeniye Göre Sırala</option>
                        <option value="post_max_view-desc" [translate]="'category.viewdesc'">En Çok Görüntülene Göre Sırala</option>
                        <option value="post_max_view-asc" [translate]="'category.viewasc'">En Az Görüntülene Göre Sırala</option>
                      </select>
                </div>
                <div class="col-xs-12 col-12 col-md-1 text-right" (click)="orderBy()">
                    <button class="btn btn-success" [translate]="'category.search'">Ara</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngFor= "let post of postInfo">
            <div class="card text-white bg-dark mb-3 mt-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <p class="h5"><a [routerLink]="['/article', enChangeLink(post.post_Title)]"   routerLinkActive="active" class="text-white">{{post.post_Title}}</a></p>
                        <a [routerLink]="['/category/orderby/tag', post.post_Tag]" class="h5"><span class="badge badge-pill badge-danger">{{post.post_Tag}}</span></a>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{post.post_Header}}
                    </p>
                    <a [routerLink]="['/article', enChangeLink(post.post_Title)]" class="text-white " [translate]="'category.clicktoread'" ></a>
                </div>
                <div class="card-footer p-0 text-right text-light" style="font-size: 13px;"><span id="maxSee">{{post.post_Max_View}} <span [translate]="'category.views'"></span> </span></div>
            </div>
        </div>

        <div class="col-md-12" *ngIf="pages.length > 1">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" *ngFor="let p of pages;let i=index" [class.active]="pagenumber == i+1 ? true : false">
                        <a class="page-link active" [routerLink]="['/category/', i+1]" (click)="setPage(i)" >
                                {{i+1}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
         <!--Comment Alerts-->
        <div *ngIf="orderSuccess" class="col-md-5 alert alert-success alert-dismissible fade show fixed-top mt-4 border-dark" role="alert">
            <strong [translate]="'category.success'"></strong> <span [translate]="'category.successmessage'"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col-md-12" style="height: 100px;"></div>
    </div>
</div>