<div class="container mt-4">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#4BA845" type="square-jelly-box">
        <p class="text-white h4">Yönlendiriliyorsunuz...</p>
    </ngx-spinner>
    
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <img src="assets/images/linkedin.png" width="200px" height="200px" alt="linkedin">
        </div>
        <div class="col-md-12" *ngIf="isSuccess">
            <p class="text-dark h5 text-center">
                Yönlendiriliyorsunuz... Giriş yaptığınız için teşekkürler.
            </p>
            
        </div>
        <div class="col-md-12" *ngIf="isSuccess">
            <p class="text-danger h5 text-center">
                Bilinmeyen bir hata meydana geldi. Lütfen tekrar deneyiniz.
            </p>
            
        </div>
        
    </div>
</div>