<div class="container">
    <form>
        <div class="form-row mt-4 justify-content-center">
            <div class="col-md-12 text-center">
                <img src="/assets/images/login.svg" width="180px" alt="login-image">
            </div>
            <div class="col-md-5 mb-2 mx-auto mt-4">
                <label for="emailAddress">Email Adresiniz</label>
                <input type="text" class="form-control" id="emailAddress" required>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-3 mx-auto mt-4">
                <label for="password">Şifreniz</label>
                <input type="password" class="form-control" id="password" required autocomplete="on">
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 text-left mb-2">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                    <label class="custom-control-label" for="rememberMe">Beni Hatırla</label>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5">
                <a  routerLink="/register" routerLinkActive="active">
                    <ins> Üye değil misin ? </ins>
                </a>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 text-right">
                <re-captcha (resolved)="resolved($event)" siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"> </re-captcha>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 text-right">
                <button class="btn btn-outline-success" [disabled]="validateRecaptcha" >Giriş Yap</button>
            </div>
        </div>
    </form>
    
    
    
</div>