<div class="container">
    <form [formGroup]="myUserDetails" *ngIf="!isTokenExpired">
        <div class="form-row mt-4 justify-content-center">
            <div class="col-md-12 text-center">
                <img src="/assets/images/password.svg" width="180px" alt="login-image">
            </div>
            <div class="col-md-5 mt-4">
                <p class="h3">Yeni şifreni gir</p>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5  mx-auto">
                <p class="text-secondary">
                     Güçlü bir şifre ile hesabını güvene al.
                </p>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-2 mx-auto mt-4">
                <label for="password">Şifren</label>
                <input type="password" [class.is-valid]="myUserDetails.get('password').valid" [class.is-invalid]="myUserDetails.get('password').invalid && (myUserDetails.get('password').dirty || myUserDetails.get('password').touched)" class="form-control" id="password" formControlName="password" autocomplete="on">
                <div *ngIf="myUserDetails.get('password').invalid && (myUserDetails.get('password').dirty || myUserDetails.get('password').touched)" class="text-danger">
                    <div *ngIf="myUserDetails.get('password').hasError('required')">
                        Bu alan boş bırakılamaz.
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('minlength')">
                        Şifreniz minumum 8 karakter içermelidir.
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('maxlength')">
                        Şifreniz maksimum 24 karakter içerebilir.
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('lowerCaseValidator')">
                        Şifrenizde en az bir küçük harf kullanılmalıdır.
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('upperCaseValidator')">
                        Şifrenizde en az bir büyük harf kullanılmalıdır.
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('numberValidator')">
                        Şifrenizde en az bir rakam kullanılmalıdır.
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 text-center">
                <button class="btn btn-success" (click)="ngOnSubmit()" [disabled]="myUserDetails.invalid">Şifremi Değiştir</button>
            </div>
        </div>
    </form>
    <div *ngIf="isTokenExpired">
        <div class="col-md-12 text-center">
            <img src="assets/images/close.svg" width="200px" alt="close">
        </div>
        
            <div class="col-md-12 mt-2 text-center">
                <h1>Şifre sıfırlama süresi doldu.</h1>
            </div>
            <div class="col-md-12 mt-2 text-center">
                <p class="h5">
                    Sevgili {{jti}},<br>
                    Hesabını daha güvende tutabilmek adına sana yolladığımız şifre sıfırlama linkinin ömrünü tamamlamış gözüküyor. Lütfen ayarlardan tekrardan şifre sıfırlama linki talep et. Unutma, 30 dakika içinde şifreyi sıfırlamassan, bu hatayı yine göreceksin.
                </p>
            </div>
        </div>


         <!--Comment Alerts-->
        <div class="row">
            <div class="col-6">
                <div *ngIf="resetSuccess" class="alert alert-success alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
                    <strong>Harika!</strong>Sevgili {{jti}} şifre sıfırlama işlemi başarıyla güncellendi. 5 saniye içinde giriş sayfasına yönlendiriliyorsunuz.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    
    
    
</div>