<div class="container">
    <form>
        <div class="form-row mt-4 justify-content-center">
            <div class="col-md-12 text-center">
                <img src="/assets/images/login.svg" width="180px" alt="login-image">
            </div>
            <div class="col-md-5 mt-4">
                <div *ngIf="loginSuccess">
                    <p class="text-success" [translate]="'login.success'">Giriş başarılı.</p>
                </div>
                <div *ngIf="invalidLogin">
                    <p class="text-danger" [translate]="'login.error'">Kullanıcı adı yada şifreniz hatalı.</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5  mx-auto mt-1">
                <label for="emailAddress" [translate]="'login.email'">Email Adresiniz</label>
                <input type="text" class="form-control" #username id="emailAddress" required>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-3 mx-auto mt-2">
                <label for="password"  [translate]="'login.password'">Password</label>
                <input type="password" class="form-control" #pass id="password" required autocomplete="on">
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 text-left mb-2">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                    <label class="custom-control-label" for="rememberMe" [translate]="'login.rememberme'">Beni Hatırla</label>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <a  routerLink="/register" routerLinkActive="active">
                            <ins [translate]="'login.notmember'"> Üye değil misin ? </ins>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a  routerLink="/forgotpassword" routerLinkActive="active">
                            <ins [translate]="'login.forgotpass'"> Şifreni mi unuttun ? </ins>
                        </a>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            
            <div class="col-md-3 mb-2 mt-2">
                <re-captcha (resolved)="resolved($event)"  siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"> </re-captcha>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 text-right">
                <button class="btn btn-outline-success btn-block" [disabled]="recaptcha?.length > 0 ? false : true"  (click)="ngOnSubmit(username.value,pass.value)" [translate]="'login.login'" >Giriş Yap</button>
            </div>
            <div class="w-100"></div>

            <!--Desktop Fixed Left Menu-->
            <div class="rightside " id="rightMenu">
                <a id="github" (click)="signInGithub()"> 
                    <p class=" text-dark" [translate]="'login.signinGithub'">Sign in with Github</p>
                    <img src="assets/images/github.svg" width="35px" height="35px" alt="github">
                </a>
                <a id="google"  (click)="signInLinkedin()" [translate]="'login.signinLinkedin'"> 
                    <p class=" text-dark d-inline">Sign in with Linkedin</p>
                    <img src="assets/images/linkedin.png" width="35px" height="35px" alt="github">
                </a>
            </div>
            <!--Mobile Buttons For Sign In via Social Medias-->
            <div class="col-md-5 " id="mobile-social-buttons">
                <div class="row">
                    <div class="col-12 mt-2">
                        <button class="btn btn-light border border-dark btn-block">
                            <img src="assets/images/github.svg" width="30px" height="30px" alt="github">
                            Sign in with Github
                        </button>
                    </div>
                    <div class="w-100 mt-2"></div>
                    <div class="col-12">
                        <button class="btn btn-light border border-dark btn-block">
                            <img src="assets/images/linkedin.png" width="30px" height="30px" alt="linkedin">
                            Sign in with Linkedin
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    
    
</div>