<body class="bg-light" >

    <div class="custom-img">
    </div>
<div class="container">
    <div class="row ">
        <div class="col-md-9 mx-auto h1 text-center mb-5 mt-3" [innerHTML]="post?.postTitle"></div>
        <div class="col-md-9 mx-auto custom-body " [innerHTML]="post?.postBody"></div>
        <div class="col-md-12">
            <p class="h5 text-center mt-4 mb-4" [translate]="'article.end'"></p>
        </div>
        <div class="col-md-12 text-dark ">
            <p>Anahtar Kelimeler : <span>java,blog,domain,database</span>
            </p>
        </div>
        <div class="col-md-12 border-top border-bottom text-dark">
            <p class="text-center m-0 p-2">{{post?.postMaxView}} <span [translate]="'article.views'"></span> | {{post?.comment.length}} <span [translate]="'article.comments'"></span> | {{post?.postTime | date:'medium'}}
                <a href="#"><img src="assets/images/linkedin.png" class="float-right" width="30px" alt="linkedin"></a>
                <a href="#"> <img src="assets/images/twitter.svg" class="float-right" width="30px" alt="twitter"></a>
                <a href="#"><img src="assets/images/facebook.svg" class="float-right" width="25px" alt="facebook"></a>
            </p>
        </div>
        <div class="col-md-12 text-center mt-4 mb-4">
            <p class="h5" [translate]="'article.comments'"></p>
        </div>
        <div class="col-md-12"> 
            <div class="row border" *ngFor="let comment of commentInfo">
                <div class="col-md-2 border-right">
                    <div class="row mx-auto mt-2"> 
                        <div class="col-12 text-center">
                            <img src="{{comment.userProfilePhoto}}" (error)="comment.userProfilePhoto='/assets/images/profile.svg'"  class="img-thumbnail" width="75px" alt="profile-picture">
                            <p class="mb-0">
                                <span *ngIf="comment.username !== 'Anonymous'">
                                    <a  [routerLink]="['/profile/',comment.username]">{{comment.username}}</a>
                                </span>
                                <span *ngIf="comment.username === 'Anonymous'">
                                    {{comment.username}}
                                </span>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <p class="p-2">{{comment.commentMessage}}</p>
                    <p class="text-right text-dark mb-0 p-0" style="font-size: 12px;margin-top: 50px;"> 
                        {{comment.commentTime | date:'dd/MM/y h:mm'}}  <span *ngIf="comment.updated"> - {{comment.commentUpdateTime |date:'dd/MM/y hh:mm'}}</span>
                        
                       <span *ngIf="isSameUser(comment.username)">
                        <a  data-toggle="collapse" href="{{ '#a'+comment.commentId}}" role="button" aria-label="icon"  aria-expanded="false" aria-controls="collapseExample">
                            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise btn-update " fill="dark" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/>
                                <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                   
                        <a  data-toggle="modal" data-target="#deleteCommentModal" (click)="setCommentId(comment.commentId,post.postId)" aria-label="icon" >
                            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-trash ml-1 mb-1 btn-update " fill="dark" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                       </span>
                    </p>
                </div>
                <div class="col-12 border-top p-0 m-0">
                    <div id="{{'a'+comment.commentId}}" class="collapse" >
                        <div class="card-body">
                            <textarea name="commentDescription1" [(ngModel)]="commentUpdateMessage" ng-trim="true"  rows="6" style="width: 100%;" class="form-control"  [placeholder]="'article.yourComment' | translate"></textarea>
                            <button class="btn btn-md btn-success float-right mt-2 mb-2" (click)="updateComment(comment.commentId)"[translate]="'article.commentUpdate'" aria-label="comment-update" ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <div class="row ">
                <div class="col-md-12">
                    <textarea name="commentDescription" ng-trim="true" [(ngModel)]="commentMessage"  rows="3" style="width: 100%;" class="form-control mb-4 bg-light" [placeholder]="'article.yourComment' | translate" id="commentDescription" required  ></textarea>
                </div>
                <div class="col-md-12">
                  <p class="text-danger" [translate]="'article.commentwarning'"></p>
                </div>
                <div class="col-md-5"></div>
                
                <div class="col-md-2">
                    <re-captcha (resolved)="resolved($event)" siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"> </re-captcha>
                </div>
                <div class="col-md-5"></div>
                <div class="w-100"></div>
                
                <div class="col-md-2 text-center mx-auto mt-4 " *ngIf="captchaResp?.length > 0  && !isAuthenticate">
                    <input type="submit" id="sendCommentButton" (click)="setCommentAnonymous()"  name="submit" value="{{ 'article.submit' | translate }}" [ngClass]="isCurrentDarkMode ? 'btn btn-block btn-dark border-white' : 'btn btn-success btn-block'">
                </div>
                
                <div class="col-md-2 text-center mx-auto mt-4 " *ngIf="captchaResp?.length > 0 && isAuthenticate">
                    <input type="submit" id="sendCommentButton" (click)="setCommentAuthenticate()" name="submit" value="{{ 'article.submit' | translate }}" [ngClass]="isCurrentDarkMode ? 'btn btn-block  btn-dark border-white' : 'btn btn-block btn-success'">
                </div>
            </div>
        </div>
        <!--Comment Alerts-->
        <div class="col-6">
            <div *ngIf="commentSuccess" class="alert alert-success alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
                <strong [translate]="'article.commentSuccess'">Harika!</strong><span [translate]="'article.commentSuccesMessage'"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!--Comment Alerts-->
        <div class="col-6">
            <div *ngIf="!commentError" class="alert alert-danger alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
                <strong [translate]="'article.commentError'"></strong> <span [translate]="'article.commentErrorMessage'">Yorum alanına birşeyler yazmalısın.</span> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!--Comment Update Alerts-->
        <div class="col-6">
            <div *ngIf="commentUpdateSuccess" class="alert alert-success alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
                <strong  [translate]="'article.commentSuccess'"></strong>  <span [translate]="'article.commentUpdateMessage'"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!--Comment Delete Alerts-->
        <div class="col-6">
            <div *ngIf="commentDeleteSuccess" class="alert alert-success alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
                <strong [translate]="'article.commentSuccess'"></strong> <span [translate]="'article.commentDeleteMessage'" ></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!--Delete Comment Modal-->
        <div class="modal fade" id="deleteCommentModal"  tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" [translate]="'article.commentDeleteQuestion'"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="clearModalCommentId()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" >
                      <p [translate]="'article.commentDeleteInfo'"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearModalCommentId()" [translate]="'article.commentDeleteNo'" aria-label="comment-delete-cancel"></button>
                      <button type="button" class="btn btn-danger" (click)="deleteComment()" onclick="$('.modal').modal('hide')" [translate]="'article.commentDeleteYes'" aria-label="comment-delete-yes"></button>
                    </div>
                  </div>
                </div>
        </div>
        <div class="col-md-12" style="height: 100px;"></div>

    </div>
</div>

<div [ngClass]=" acceptCookie ? 'd-none' : '' ">
    <nav class="navbar  bg-dark  m-4 fixed-bottom  border border-primary" id="policiyarea" [ngClass]="isHideCookie ? 'd-none' : '' ">
        <p class="text-right h6 p-0 m-0 text-white" id="cookiesP" [translate]="'article.cookies'"></p>
        <input type="button" class="btn btn-outline-success" (click)="acceptsCookie()"  value="{{ 'article.cookiesAccept' | translate }}">
        <input type="button" class="btn btn-outline-danger" (click)="hideCookie()" value="{{ 'article.cookiesDeny' | translate }}">
        <button type="button" class="close"  (click)="hideCookie()" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
        </button>
    </nav>
</div>

</body>

