<div class="container">
    <div class="fake-height" style="height: 200px;"></div>
    <app-posts></app-posts>

    <div class="col-md-12 mt-4 border border-dark">
        <div class="row p-4">
            <div class="col-md-2 text-center">
                <img src="assets/images/pp.jpeg" class="img-thumbnail rounded-circle border border-dark mb-2" width="120px" alt="firatkaya">
            </div>
            <div class="col-md-10">
                <p class="">Adım Fırat Kaya, Beykent Üniversitesi Bilgisayar Mühendisliği 3.Sınıfı öğrencisiyim. Öğrendiklerimi test edebilmek ve diğer insanlarla paylaşabilmek için bu platformu kurdum. Güncel yazılarımdan haberdar olabilmek için haber bültenime
                    kayıt olabilirsiniz yada beni aşağıdaki sosyal medya hesaplarımdan takibe alabilirsiniz. Sizlere bol okumalı günler dilerim.</p>
            </div>
            <div class="col-md-12 text-center">
                <a href="https://www.linkedin.com/in/firatkaya1/">
                    <img src="assets/images/linkedin.png" width="40px" alt="linkedin-profile">
                </a>
                <a href="https://github.com/firatkaya1">
                    <img src="assets/images/github64.png" width="35px" alt="linkedin-profile">
                </a>
                <a href="https://twitter.com/1firatkaya">
                    <img src="assets/images/twitter.svg" width="50px" alt="linkedin-profile">
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
