
<div class="container">
    <form [formGroup]="myUserDetails" (ngSubmit)="ngOnSubmit()">
        <div class="form-row mt-4 justify-content-center">
            <div class="col-md-12 text-center mb-2">
                <img src="assets/images/login.svg" width="180px" alt="login-image">
            </div>
            <div class="col-md-5">
                <div  *ngIf="errorCode == 0">
                    <p class="text-danger" [translate]="'register.errorEmail'"></p>
                </div>
                <div  *ngIf="errorCode == 1">
                    <p class="text-danger" [translate]="'register.errorUsername'"></p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-2 mx-auto">
                <label for="emailAddress"  [translate]="'register.email'"></label>
                <input type="email" [class.is-valid]="myUserDetails.get('emailAddress').valid" [class.is-invalid]="myUserDetails.get('emailAddress').invalid && (myUserDetails.get('emailAddress').dirty || myUserDetails.get('emailAddress').touched)" class="form-control" id="emailAddress" formControlName="emailAddress">
                
                <div *ngIf="myUserDetails.get('emailAddress').invalid && (myUserDetails.get('emailAddress').dirty || myUserDetails.get('emailAddress').touched)" class="text-danger">
                    <div *ngIf="myUserDetails.get('emailAddress').errors.required" [translate]="'register.emailErrors.notEmpty'">
                       
                    </div>
                    <div *ngIf="myUserDetails.get('emailAddress').errors.email" [translate]="'register.emailErrors.onlyEmail'">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-2 mx-auto mt-2">
                <label for="username" [translate]="'register.username'"> </label>
                <input type="text"  [class.is-valid]="myUserDetails.get('username').valid" [class.is-invalid]="myUserDetails.get('username').invalid && (myUserDetails.get('username').dirty || myUserDetails.get('username').touched)" class="form-control" id="username" formControlName="username">
                <div *ngIf="myUserDetails.get('username').invalid && (myUserDetails.get('username').dirty || myUserDetails.get('username').touched)" class="text-danger">
                    <div *ngIf="myUserDetails.get('username').errors.required" [translate]="'register.usernameErrors.notEmpty'">
                    </div>
                    <div *ngIf="myUserDetails.get('username').errors.pattern" [translate]="'register.usernameErrors.specialCharacter'">
                    </div>
                    <div *ngIf="myUserDetails.get('username').errors.minlength" [translate]="'register.usernameErrors.minimum'">
                    </div>
                    <div *ngIf="myUserDetails.get('username').errors.maxlength" [translate]="'register.usernameErrors.maximum'">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-2 mx-auto mt-2">
                <label for="password" [translate]="'register.password'">Şifren</label>
                <input type="password" [class.is-valid]="myUserDetails.get('password').valid" [class.is-invalid]="myUserDetails.get('password').invalid && (myUserDetails.get('password').dirty || myUserDetails.get('password').touched)" class="form-control" id="password" formControlName="password" autocomplete="on">
                <div *ngIf="myUserDetails.get('password').invalid && (myUserDetails.get('password').dirty || myUserDetails.get('password').touched)" class="text-danger">
                    <div *ngIf="myUserDetails.get('password').hasError('required')" [translate]="'register.passwordErrors.notEmpty'">
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('minlength')" [translate]="'register.passwordErrors.minimum'">
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('maxlength')" [translate]="'register.passwordErrors.maximum'">
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('lowerCaseValidator')" [translate]="'register.passwordErrors.lowercase'">
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('upperCaseValidator')" [translate]="'register.passwordErrors.uppercase'">
                    </div>
                    <div *ngIf="myUserDetails.get('password').hasError('numberValidator')" [translate]="'register.passwordErrors.number'">
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-2 mx-auto mt-2">
                <label for="birthdate" [translate]="'register.birthdate'">Doğum Tarihin</label>
                <input type="date" class="form-control" max="2010-12-31" name="birthdate" [class.is-valid]="myUserDetails.get('birthdate').valid"  [class.is-invalid]="myUserDetails.get('birthdate').invalid" formControlName="birthdate" id="birthdate" required>
                <div *ngIf="myUserDetails.get('birthdate').invalid" class="text-danger">
                    <div *ngIf="myUserDetails.get('birthdate').hasError('required')" [translate]="'register.birthdateErrors.notEmpty'">
                    </div>
                </div>
         
            </div>  
            <div class="w-100"></div>
            <div class="col-md-5">
                <a  routerLink="/login" routerLinkActive="active" >
                    <ins [translate]="'register.alreadyaccount'"></ins>
                </a>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mx-auto">
                <re-captcha (resolved)="resolved($event)" siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"> </re-captcha>
            </div>
            <div class="w-100"></div>
            <div class="col-md-5 mb-2 mx-auto mt-4 text-center">
                <input type="checkbox" class="form-check-input" [class.is-invalid]="myUserDetails.get('userterms').invalid" id="userterms" formControlName="userterms">
                <label class="form-check-label" for="userterms" [translate]="'register.userterms'"></label>
            </div>          
            <div class="w-100"></div>
            <div class="col-md-5 text-right">
                <button class="btn btn-outline-success btn-block" [disabled]="myUserDetails.invalid || validateRecaptcha" [translate]="'register.signup'">Kayıt Ol</button>
            </div>
            <div class="w-100"></div>

            <!--Desktop Fixed Right Menu-->
            <div class="rightside " id="rightMenu">
                <a id="github" (click)="signUpGithub()"> 
                    <p class=" text-dark" [translate]="'register.signupwith.github'"></p>
                    <img src="assets/images/github.svg" width="35px" height="35px" alt="github">
                </a>
                <a id="google" (click)="signUpGoogle()"> 
                    <p class=" text-dark d-inline" [translate]="'register.signupwith.google'"></p>
                    <img src="assets/images/google.svg" width="35px" height="35px" alt="google">
                </a>
                <a id="linkedin"  (click)="signUpLinkedin()"> 
                    <p class=" text-dark d-inline" [translate]="'register.signupwith.linkedin'"></p>
                    <img src="assets/images/linkedin.png" width="35px" height="35px" alt="linkedin">
                </a>
            </div>
        </div>
    </form>
    
    <!--Mobile Buttons For Sign İn via Social Medias-->
    <div class="row">
        <div class="col-md-5" id="mobile-social-buttons">
            <div class="row">
                <div class="col-12 mt-2">
                    <button class="btn btn-light border border-dark btn-block" (click)="signUpGithub()">
                        <img src="assets/images/github.svg" width="30px" height="30px" alt="github">
                        <span [translate]="'register.signupwith.github'"></span>
                    </button>
                </div>
                <div class="w-100 mt-2"></div>
                <div class="col-12">
                    <button class="btn btn-light border border-dark btn-block" (click)="signUpGoogle()">
                        <img src="assets/images/google.svg" width="30px" height="30px" alt="google">
                        <span [translate]="'register.signupwith.google'"></span>
                    </button>
                </div>
                <div class="w-100 mt-2"></div>
                <div class="col-12">
                    <button class="btn btn-light border border-dark btn-block" (click)="signUpLinkedin()">
                        <img src="assets/images/linkedin.png" width="30px" height="30px" alt="linkedin">
                        <span [translate]="'register.signupwith.linkedin'"></span>
                    </button>
               </div>
            </div>
        </div>
        <div class="w-100" style="height: 100px;"></div>
    </div>

    <!--Register Alerts-->
   <div class="row">
    <div class="col-6">
        <div *ngIf="registerSuccess" class="alert alert-success alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
            <strong [translate]="'register.alertSuccess'"></strong> <span [translate]="'register.alertMessage'"></span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
   </div>


</div>