<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <img src="assets/images/500.svg" width="200px" alt="404Error">
        </div>
        <div class="col-md-12 mt-2">
            <p class="h4" [translate]="'500.explain'"> </p>
        </div>
        <div class="col-md-6 text-right">
            <a href="index.html">
                <button class="btn btn-outline-success" [translate]="'500.backtohome'"></button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#section3">
                <button class="btn btn-outline-danger" [translate]="'500.submitreport'"></button>
            </a>
        </div>
        <div class="col-md-12" style="height: 1000px;"></div>
        <div class="col-md-12" id="section3">
            <h3 class="text-center" [translate]="'500.submitreport'"></h3>
        </div>
        <div class="col-md-6 mx-auto border p-4 shadow">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1" [translate]="'500.email'"> </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"  [translate]="'500.notrequired'"></small>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" [translate]="'500.explainErr'"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    <small id="emailHelp" class="form-text text-muted"  [translate]="'500.explainErr2'"></small>
                </div>
                <div class="form-group">
                    <label for="errorCode" class="text-danger" [translate]="'500.errorCode'"></label>
                    <input type="email" class="form-control" id="errorCode" value="500" disabled>
                    <small id="errorCode" class="form-text text-muted" [translate]="'500.noValue'"></small>
                </div>
                <div class="form-group">
                    <div class="row p-1">
                        <div class="col-md-2 bg-dark border border-primary mb-2">
                            <p class="text-white text-center mt-2 mb-2 mx-auto h6"><span id="number1"></span> + <span id="number2"></span> </p>
                        </div>
                        <div class="col-md-10">
                            <input type="number" class="form-control" id="errorCode" oninput="controllAnswer(this.value)" placeholder="{{ '500.onlyNumber' | translate }}">
                        </div>
                    </div>
                </div>
                <button type="submit" id="answerButton" class="btn btn-primary btn-block disabled" [translate]="'500.submit'"></button>
            </form>
        </div>
        <div class="col-md-12" style="height: 100px;"></div>
    </div>



</div>
