<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-4 mb-4">
            <img src="/assets/images/profile.svg" class="img-thumbnail" alt="profile-pictures" width="200px">
        </div>
        <div class="col-md-12">
            <p class="text-dark">Merhaba,</p>
            <p>Kişisel bloguma hoşgeldin, Burada öğrendiğim, geliştirdigim projelerimi sizlerle paylaşacağım ve aynı zamanda edindiğim tecrübeleri anlatacağım. Bana destek olabilmek için üye olabilirsiniz ve güncel yazılarımdan haberdar olabilmek için
                bültenime kayıt olabilirsiniz. Sadece yazılarımı okuyarak destek olabilirsiniz.
            </p>
            <p>
                Görebildiğiniz gibi bu blogu kendim kodladım. Böyle basit tabanlı bir kişisel blogu nasıl kodlarım diyorsanız kendi yazdığım ve uzun bir makele serim olan <a href="#">Kendi Blogumuzu Kodluyoruz</a> isimli serimi okuyabilirsiniz. Sorularınız
                varsa da bana mail atarak veyatta makelelerimin altında yazdıklarımı cevaplayarak dönüş yapabilirsiniz.
            </p>
        </div>
    </div>
    <app-posts></app-posts>
    <app-posttags></app-posttags>
    <app-search-bar></app-search-bar>
</div>
<app-footer></app-footer>
