<div class="container">
    <div class="row" *ngFor="let user of userInfo">
        <div class="col-md-12 text-center mt-4">
            <img src="{{user.userProfilPhoto}}" width="150px" class="img-thumbnail rounded-circle border border-dark" alt="profile-photo">
        </div>
        <div class="col-md-8 mx-auto mt-2">
            <table class="table table-striped table-dark shadow">
                <tbody >
                    <tr>
                        <td class="text-warning">Kullanıcı Adı</td>
                        <td id="nameSurname">{{user.userName}}</td>
                    </tr>
                    <tr>
                        <td class="text-warning">Hakkımda</td>
                        <div *ngIf="!user.userPermissions.aboutmeShow">
                            <td>{{user.userProfile.userAboutme}}</td>
                        </div>
                        <div *ngIf="user.userPermissions.aboutmeShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Üyelik Tarihi</td>
                        <div *ngIf="!user.userPermissions.registerdateShow" >
                            <td>{{user.userRegisterDate | date:'medium' }}</td>
                        </div>
                        <div *ngIf="user.userPermissions.registerdateShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Doğum Tarihi</td>
                        <div *ngIf="!user.userPermissions.birthdateShow" >
                            <td>{{user.userBirthdayDate | date:'mediumDate' }}</td>
                        </div>
                        <div *ngIf="user.userPermissions.birthdateShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Toplam Yorum </td>
                        <div *ngIf="!user.userPermissions.allCommentShow">
                            <td>34</td>
                        </div>
                        <div *ngIf="user.userPermissions.allCommentShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Toplam Favori</td>
                        
                        <div *ngIf="!user.userPermissions.allFavShow">
                            <td>34</td>
                        </div>
                        <div *ngIf="user.userPermissions.allFavShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">İletişim Adresi</td>
                        <div *ngIf="!user.userPermissions.contactShow">
                            <td>{{user.userEmail}}</td>
                        </div>
                        <div *ngIf="user.userPermissions.contactShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Son Giriş Tarihi</td>
                        <div *ngIf="!user.userPermissions.contactShow">
                            <td>2020/11/9 09:54</td>
                        </div>
                        <div *ngIf="user.userPermissions.contactShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Tüm Yorumları</td>
                        <div *ngIf="!user.userPermissions.allCommentShow">
                            <td><a href="#" class="text-white"><ins>Tıkla</ins></a></td>
                        </div>
                        <div *ngIf="user.userPermissions.allCommentShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Tüm Favorileri</td>
                        
                        <div *ngIf="!user.userPermissions.allFavShow">
                            <td><a href="#" class="text-white"><ins>Tıkla</ins></a></td>
                        </div>
                        <div *ngIf="user.userPermissions.allFavShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Github Adresi <img src="assets/images/github64.png" width="25px" alt="github-profile"></td>
                        <div *ngIf="!user.userPermissions.githubShow">
                            <td><a href="{{user.userProfile.userGithub}}" class="text-white"><ins>Github Profiline Git</ins></a></td>
                        </div>
                        <div *ngIf="user.userPermissions.githubShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-warning">Linkedin Adresi<img src="assets/images/linkedin.png" width="25px" alt="linkedin-profile"> </td>
                        <div *ngIf="!user.userPermissions.linkedinShow">
                            <td><a href="{{user.userProfile.userLinkedin}}" class="text-white"><ins>Linkedin Profiline Git</ins></a></td>
                        </div>
                        <div *ngIf="user.userPermissions.linkedinShow">
                            <td>Bu bilgi gizlemiştir.</td>
                        </div>
                    
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-danger" data-toggle="modal" data-target="#profileModal">Profili Bildir</button>
        </div>
        <div class="col-md-12" style="height: 150px;"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Profili Bildirme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control text-danger" id="abuseProfil" disabled>

                    </div>
                </div>
                <span>Bildirme Nedeniniz</span>
                <select class="custom-select">
                    <option selected>Lütfen bir seçenegi seçiniz</option>
                    <option value="1">Uygunsuz resim veya yazı bulunuyor.</option>
                    <option value="2">Yanlış bilgileri kullanıyor.</option>
                    <option value="3">Başkasının bilgilerini kullanıyor.</option>
                    <option value="4">Diğer</option>
                  </select>
                <div class="form-group mt-2">
                    <label for="exampleFormControlTextarea1">Lütfen bu profili bildirme nedeninizi açıklayın.</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <div class="row p-1">
                        <div class="col-md-3 bg-dark border border-primary mb-2">
                            <p class="text-white text-center mt-2 mb-2 mx-auto h6"><span id="number1"></span> + <span id="number2"></span> </p>
                        </div>
                        <div class="col-md-9">
                            <input type="number" class="form-control" id="errorCode" oninput="controllAnswer(this.value)" placeholder="Lütfen sadece rakam ile cevaplayınız.">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" id="answerButton" class="btn btn-primary disabled">Bildiriyi Yolla</button>
            </div>
        </div>
    </div>
</div>

