

<div class="col-md-12">
    <p class="h4">Son Yazılarım</p>
    <div class="row">
        <div class="col-md-6" *ngFor= "let post of postIndex">
            <div class="card text-white bg-dark mb-3 mt-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <p class="h5"><a [routerLink]="['/article', enChangeLink(post.post_Title)]"   routerLinkActive="active" class="text-white">{{post.post_Title}}</a></p>
                        <a [routerLink]="['/category/orderby/tag', post.post_Tag]" class="h5"><span class="badge badge-pill badge-danger">{{post.post_Tag}}</span></a>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{post.post_Header}}
                    </p>
                    <a [routerLink]="['/article', enChangeLink(post.post_Title)]" class="text-white " [translate]="'category.clicktoread'"></a>
                </div>
                <div class="card-footer p-0 text-right text-light" style="font-size: 13px;"><span id="maxSee">{{post.post_Max_View}} <span [translate]="'category.views'"></span> </span> | <span id="maxSee">{{ post.post_Max_Comment }} <span [translate]="'category.comments'"></span></span></div>
            </div>
        </div>
        
    </div>
   

</div>
<div class="col-md-12 m-0 p-0 text-right">
    <a routerLink="/category" routerLinkActive="active" [translate]="'category.clicktoreadAll'"></a>
</div>