<div class="container">
    <div class="row mt-4">
        <div *ngIf="!isTokenExpired">
            <div class="col-md-12 text-center">
                <img src="assets/images/verify.svg" width="200px" alt="verify">
            </div>
            
                <div class="col-md-12 mt-2 text-center">
                    <h1 [translate]="'verifyacc.verified'"></h1>
                </div>
                <div class="col-md-12 mt-2 text-center">
                    <p class="h5">
                        <b [translate]="'verifyacc.perfect'"></b><br> <span [translate]="'verifyacc.dear'"></span>  <span><ins>{{jti}}</ins>,</span> <span  [translate]="'verifyacc.succes'"></span>
                    </p>
                </div>
            </div>
        <div *ngIf="isTokenExpired">
        <div class="col-md-12 text-center">
            <img src="assets/images/close.svg" width="200px" alt="close">
        </div>
        
            <div class="col-md-12 mt-2 text-center">
                <h1 [translate]="'verifyacc.error'"></h1>
            </div>
            <div class="col-md-12 mt-2 text-center">
                <p class="h5">
                    <span [translate]="'verifyacc.dear'"></span> {{jti}},<br>
                    <span [translate]="'verifyacc.errorMessage'"></span>
                </p>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a href="index.html">
                <button class="btn btn-outline-success" [translate]="'verifyacc.backtohome'" > </button>
            </a>
        </div>
        <div class="col-md-12" style="height: 100px;"></div>
    </div>



</div>

