
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto text-center">
            <img src="assets/images/github.svg" width="250px" height="250px" alt="github">
        </div>
        <div class="col-md-12">
            <p class="text-dark h5 text-center">
                Aramıza hoşgeldin <span class="text-primary">padawan.</span> Seni şöyle anasayfamıza alalım. Sana bol <ins class="text-danger">okumalı</ins> günler diliyorum.
            </p>
        </div>
        <div class="col-md-12 text-center mt-4">
            <button class="btn btn-outline-success">Anasayfaya Git</button>
            <button class="btn btn-outline-primary ml-4">Profilime Git</button>
        </div>
    </div>
</div>