<nav class="navbar navbar-light navbar-expand-lg border-bottom border-dark">
    <a routerLink="/" (click)="ngOnChange()" routerLinkActive="active" class="navbar-brand text-primary">kayafirat.com <span class="text-danger">[beta] <span class="text-success">[v.1.0.1]</span></span></a> 
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
        </span>
      </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/search" routerLinkActive="active" (click)="ngOnChange()" class="nav-link text-primary" [translate]="'menu.search'">Arama Yap</a>
            </li>
            <li class="nav-item">
                <a routerLink="/category" routerLinkActive="active" (click)="ngOnChange()" class="nav-link text-primary" [translate]="'menu.articles'">Yazılarım</a>
            </li>
            <li class="navbar-item" *ngIf="!isAuthentication()">
                <a routerLink="/login" routerLinkActive="active">
                    <button class="btn btn-sm btn-outline-success mt-1" [translate]="'menu.login'">
                        Giriş Yap
                    </button>
                </a>
            </li>
            <li class="nav-item dropdown" *ngIf="isAuthentication()" (click)="ngOnChange()">
                <a class="nav-link dropdown-toggle text-success m-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [translate]="'menu.account'">
                    <img [src]="userprofilphoto" class="border p-0 m-0" width="25px" alt="">
                    Hesabım
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" (click)="ngOnChange()">
                    <a class="dropdown-item" [routerLink]="['/profile/',username]" [translate]="'menu.profile'" >Profil</a>
                    <a class="dropdown-item" [routerLink]="['/settings/',username]" [translate]="'menu.settings'" >Ayarlar</a>
                    <a class="dropdown-item" (click)="logout()" routerLinkActive="active" [translate]="'menu.exit'">Çıkış</a>
                </div>
            </li>
            <li class="nav-item dropdown"  >
                <a class="nav-link dropdown-toggle text-success m-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="selectedLanguage=='tr' ? true : false">
                        <img src="assets/images/turkey.svg" class=" p-0 m-0" width="25px" alt="turkish-flag"><span> Türkçe</span>
                    </span>
                    <span *ngIf="selectedLanguage=='en' ? true : false">
                        <img src="assets/images/uk.svg" class=" p-0 m-0" width="25px" alt="turkish-flag"><span> English</span>
                    </span>
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink" (click)="ngOnChange()">
                    <a class="dropdown-item" (click)="changeLanguage()" style="cursor: pointer;">
                        <span *ngIf="selectedLanguage!='tr' ? true : false">
                            <img src="assets/images/turkey.svg" class=" p-0 m-0" width="25px" alt="turkish-flag"><span> Türkçe</span>
                        </span>
                        <span *ngIf="selectedLanguage !='en' ? true : false ">
                            <img src="assets/images/uk.svg" class=" p-0 m-0" width="25px" alt="turkish-flag"><span> English</span>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
  </nav> 