<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <img src="assets/images/error.svg" width="200px" alt="404Error">
        </div>
        <div class="col-md-12 mt-2">
            <p class="h4" [translate]="'404.explain'"></p>
        </div>
        <div class="col-md-6 text-right">
            <a href="index.html">
                <button class="btn btn-outline-success" [translate]="'404.backtohome'"> </button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#section3">
                <button class="btn btn-outline-danger" [translate]="'404.submitreport'"> </button>
            </a>
        </div>
        <div class="col-md-12" style="height: 1000px;"></div>
        <div class="col-md-12" id="section3">
            <h3 class="text-center" [translate]="'404.submitreport'"> </h3>
        </div>
        <div class="col-md-6 mx-auto border p-4 shadow">
            <form [formGroup]="errorDetails">
                <div class="form-group">
                    <label for="exampleInputEmail1" [translate]="'404.email'"> </label>
                    <input type="email" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" [class.is-valid]="errorDetails.get('emailAddress').valid" [class.is-invalid]="errorDetails.get('emailAddress').invalid && (errorDetails.get('emailAddress').dirty || errorDetails.get('emailAddress').touched)" formControlName="emailAddress">
                    <small id="emailHelp" class="form-text text-muted" [translate]="'404.notrequired'"></small>
                    <div *ngIf="errorDetails.get('emailAddress').invalid && (errorDetails.get('emailAddress').dirty || errorDetails.get('emailAddress').touched)" class="text-danger">
                        <div *ngIf="errorDetails.get('emailAddress').errors.email" [translate]="'register.emailErrors.onlyEmail'">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" [translate]="'404.explainErr'"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required [class.is-valid]="errorDetails.get('message').valid" [class.is-invalid]="errorDetails.get('message').invalid && (errorDetails.get('message').dirty || errorDetails.get('message').touched)" formControlName="message"></textarea>
                    <small id="emailHelp" class="form-text text-muted" [translate]="'404.explainErr2'"></small>
                </div>
                <div class="form-group" >
                    <label for="errorCode" class="text-danger" [translate]="'404.errorCode'"> </label>
                    <input type="email" class="form-control" id="errorCode" value="404" disabled>
                    <small id="errorCode" class="form-text text-muted" [translate]="'404.noValue'"></small>
                </div>
                <div class="form-group">
                    <div class="row p-1">
                        <div class="col-md-7 mx-auto text-center">
                            <re-captcha (resolved)="resolved($event)" class="text-center mx-auto" siteKey="6LfC_bIZAAAAAAoOKHCIaj0d3O3wKINKJXH6ilGC"> </re-captcha>
                        </div>
                    </div>
                </div>
                <button type="submit" id="answerButton" class="btn btn-primary btn-block" (click)="sendError()" [disabled]="recaptcha?.length > 0 ? false : true" [translate]="'404.submit'">Gönder</button>
            </form>
        </div>
        <div class="col-md-12" style="height: 100px;"></div>
    </div>

<!--Success Alerts-->
<div class="row">
    <div class="col-6">
        <div *ngIf="sendSuccess" class="alert alert-success alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
            <strong>Harika !</strong> <span> Hata mesajınız başarılı bir şekilde bizlere ulaştı. En kısa zamanda çözmeye çalışacağız. Teşekkürler.</span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<!--Fail Alerts-->
<div class="row">
    <div class="col-6">
        <div *ngIf="!sendFailed" class="alert alert-danger alert-dismissible fade show fixed-bottom  m-4 border-dark" role="alert">
            <strong>Bir sorun var !</strong> <span> Lütfen sayfayı yenile ve tekrar bizlere ulaşmayı dene. Hata için üzgünüz.</span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
</div>
